## Problem 1 - Reading in a tricky data file (*5 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` with the Pandas function `read_csv()`
    - Be sure the numerical values for rainfall and temperature are read in as numbers
    - The second row of the datafile should be skipped, but the text labels for the columns should be from the first row
    - The no-data values (assigned with value **`-9999`**) should properly be converted to `NaN`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1.5 points*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values into `NaN` (values `-9999`)

In [2]:
#If "locked out" (cells are inaccessible): Property Inspector > Advanced Tools > Cell Metadata > Changed "Editable" from False to True

import pandas as pd

data = pd.read_csv('database.csv') #, usecols='Date', 'Latitude', 'Longitude', 'Type', 'Depth', 'Magnitude', 'Magnitude_Type', 'ID')
data["Year"] = None
#print(data)
# Add Year column (in R, field)
#data["Year"] = None

eq_subset = data[["Date", 'Latitude', 'Longitude', 'Type', 'Depth', 'Magnitude', 'Magnitude Type', 'ID', 'Year']]
print(eq_subset)

             Date  Latitude  Longitude        Type   Depth  Magnitude  \
0      01/02/1965   19.2460   145.6160  Earthquake  131.60        6.0
1      01/04/1965    1.8630   127.3520  Earthquake   80.00        5.8
2      01/05/1965  -20.5790  -173.9720  Earthquake   20.00        6.2
3      01/08/1965  -59.0760   -23.5570  Earthquake   15.00        5.8
4      01/09/1965   11.9380   126.4270  Earthquake   15.00        5.8
...           ...       ...        ...         ...     ...        ...
23407  12/28/2016   38.3917  -118.8941  Earthquake   12.30        5.6
23408  12/28/2016   38.3777  -118.8957  Earthquake    8.80        5.5
23409  12/28/2016   36.9179   140.4262  Earthquake   10.00        5.9
23410  12/29/2016   -9.0283   118.6639  Earthquake   79.00        6.3
23411  12/30/2016   37.3973   141.4103  Earthquake   11.94        5.5

      Magnitude Type            ID  Year
0                 MW  ISCGEM860706  None
1                 MW  ISCGEM860737  None
2                 MW  ISCGEM860762  None
3                 MW  ISCGEM860856  None
4                 MW  ISCGEM860890  None
...              ...           ...   ...
23407             ML    NN00570710  None
23408             ML    NN00570744  None
23409            MWW    US10007NAF  None
23410            MWW    US10007NL0  None
23411             MB    US10007NTD  None

[23412 rows x 9 columns]

In [23]:
# Convert date to dd/mm/year
#data['TIME_STR'] = data['Date'].astype(str)

## Had to use utc parameter.  Otherwise, accessor (dt.year) didn't work;
## Also, datetime dtype was an 'Object'
data['Date'] = pd.to_datetime(data['Date'], utc=True)
data['Year'] = data['Date'].dt.year
#data

#data['TIME_STR'] = data['Date'].astype(str)
#data['Year'] = data['TIME_STR'].str.slice(start=0, stop=3)

In [26]:
# Error found in for loop/Earthquake count-year creation:
# TypeError: list indices must be integers or slices, not str
# Source: https://www.geeksforgeeks.org/python-converting-all-strings-in-list-to-integers/

test_list = data['Year']
test_list = list(map(int, test_list))
#test_list

In [61]:
groupyear = data.groupby('Year')

# Inspect groupby
#group1 = groupyear.get_group(2016)
#print(group1)

# Alternative groupby.  Due to how using Year creates str-to-int error
#groupdate = data.groupby('Date')

In [66]:
#  https://www.stackvidhya.com/add-column-to-dataframe/#:~:text=insert()%20method%20%E2%80%93%20Use%20insert,column%20in%20the%20same%20dataframe.

year_eqf = pd.DataFrame()
year_eqf['Earthquake Count'] = None

#for key, group in groupyear:
#    year_eqf['Earthquake Count'] = len(group)
#    year_eqf['Year'] = key

#year_eqf

## Came across groupby.count() Pandas reference, as a variation of grouped.mean(), found in
## "Finding the mean for all groups at once
##  We can also achieve the same result by...", Geo-Python 2021, lesson 6, Pandas II 
year_eqf['Earthquake Count'] = groupyear['Year'].count()
year_eqf['Avg Magnitude'] = groupyear['Magnitude'].mean()
year_eqf['Max Magnitude'] = groupyear['Magnitude'].max()
year_eqf

      Earthquake Count  Avg Magnitude  Max Magnitude
Year
1965               339       6.014159            8.7
1966               234       6.040470            8.1
1967               255       6.003922            7.4
1968               305       6.078525            8.2
1969               323       6.009350            7.8
1970               345       6.035768            8.0
1971               386       5.972539            8.1
1972               388       5.943814            8.0
1973               401       5.814065            7.7
1974               361       5.830332            7.6
1975               412       5.848277            7.9
1976               457       5.825842            8.0
1977               425       5.783765            7.9
1978               410       5.818537            7.7
1979               356       5.828371            7.9
1980               348       5.845690            7.9
1981               321       5.862773            7.7
1982               346       5.817630            7.2
1983               453       5.876733            7.6
1984               482       5.851701            7.6
1985               476       5.894874            8.0
1986               485       5.857093            8.0
1987               505       5.903564            7.9
1988               489       5.848875            7.8
1989               480       5.843333            8.2
1990               528       5.860625            7.8
1991               429       5.882284            7.6
1992               533       5.882702            7.8
1993               466       5.888841            7.8
1994               508       5.877500            8.3
1995               591       5.904822            8.0
1996               541       5.872089            8.2
1997               456       5.859868            7.8
1998               388       5.868814            8.1
1999               446       5.890605            7.7
2000               553       5.858228            8.0
2001               443       5.878330            8.4
2002               444       5.866216            7.9
2003               485       5.885732            8.3
2004               571       5.850911            9.1
2005               533       5.855347            8.6
2006               508       5.859646            8.3
2007               608       5.886020            8.4
2008               508       5.908858            7.9
2009               517       5.867118            8.1
2010               560       5.899643            8.8
2011               713       5.864656            9.1
2012               445       5.872809            8.6
2013               461       5.881779            8.3
2014               480       5.886917            8.2
2015               446       5.913072            8.3
2016               469       5.892836            7.9

In [68]:
year_eqf.to_csv(path_or_buf= 'C:/Users/Will Buckler/Desktop/SWEFC/DataPipe_R_Spark_Java/quakes.csv')
eq_subset.to_csv(path_or_buf = 'C:/Users/Will Buckler/Desktop/SWEFC/DataPipe_R_Spark_Java/quake_freq.csv')

In [2]:
# This test print should print the head and the column names
print(data.head(10))
#print(data.columns)

       Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth  Seismic  \
0  01/04/1965,11:29:49,1.863,127.352,Earthquake,8...         NaN      NaN
1  01/05/1965,18:05:58,-20.579,-173.972,Earthquak...         NaN      NaN
2  01/08/1965,18:49:43,-59.076,-23.557,Earthquake...         NaN      NaN
3  01/09/1965,13:32:50,11.938,126.427,Earthquake,...         NaN      NaN
4  01/10/1965,13:36:32,-13.405,166.629,Earthquake...         NaN      NaN
5  01/12/1965,13:32:25,27.357,87.867,Earthquake,2...         NaN      NaN
6  01/15/1965,23:17:42,-13.309,166.212,Earthquake...         NaN      NaN
7  01/16/1965,11:32:37,-56.452,-27.043,Earthquake...         NaN      NaN
8  01/17/1965,10:43:17,-24.563,178.487,Earthquake...         NaN      NaN
9  01/17/1965,20:57:41,-6.807,108.988,Earthquake,...         NaN      NaN

   Stations,Magnitude,Magnitude  Type,Magnitude  Error,Magnitude  Seismic.1  \
0                           NaN             NaN              NaN        NaN
1                           NaN             NaN              NaN        NaN
2                           NaN             NaN              NaN        NaN
3                           NaN             NaN              NaN        NaN
4                           NaN             NaN              NaN        NaN
5                           NaN             NaN              NaN        NaN
6                           NaN             NaN              NaN        NaN
7                           NaN             NaN              NaN        NaN
8                           NaN             NaN              NaN        NaN
9                           NaN             NaN              NaN        NaN

   Stations,Azimuthal  Gap,Horizontal  Distance,Horizontal  Error,Root  Mean  \
0                 NaN             NaN                  NaN         NaN   NaN
1                 NaN             NaN                  NaN         NaN   NaN
2                 NaN             NaN                  NaN         NaN   NaN
3                 NaN             NaN                  NaN         NaN   NaN
4                 NaN             NaN                  NaN         NaN   NaN
5                 NaN             NaN                  NaN         NaN   NaN
6                 NaN             NaN                  NaN         NaN   NaN
7                 NaN             NaN                  NaN         NaN   NaN
8                 NaN             NaN                  NaN         NaN   NaN
9                 NaN             NaN                  NaN         NaN   NaN

   Square,ID,Source,Location  Source,Magnitude  Source,Status
0                        NaN               NaN            NaN
1                        NaN               NaN            NaN
2                        NaN               NaN            NaN
3                        NaN               NaN            NaN
4                        NaN               NaN            NaN
5                        NaN               NaN            NaN
6                        NaN               NaN            NaN
7                        NaN               NaN            NaN
8                        NaN               NaN            NaN
9                        NaN               NaN            NaN

In [3]:
# This test print should print the first row of data
print(data.loc[0].values)

['GHCND:FIE00142080' 51 60.3269 24.9603 19520101 0.31 37 39 34]

In [34]:
# This test print should print the last row of data in column 'TMIN'
print(data.tail(1)[['TMIN']].values[0][0])

-9999

### Part 2 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [12]:
#https://www.learndatasci.com/solutions/python-valueerror-truth-value-series-ambiguous-use-empty-bool-item-any-or-all/
# Other alternatives:
#https://datatofish.com/pandas-dataframe-to-series/
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.squeeze.html
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html
#https://www.geeksforgeeks.org/count-nan-or-missing-values-in-pandas-dataframe/
#Learned something new, and problematic, with apply():  https://stackoverflow.com/questions/67660209/pandas-attributeerror-str-object-has-no-attribute-isnull

tavg_nodata_count = 0

for idx, row in data.iterrows():
    if row['TAVG'] == -9999:
        tavg_nodata_count+=1
        
#len(data['TAVG'])        

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

23716

In [13]:
# This test print should print a number
print(tavg_nodata_count)
any

3308

### Part 3 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [15]:
tmin_nodata_count = 0

for idx, row in data.iterrows():
    if row['TMIN'] == -9999:
        tmin_nodata_count+=1

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [16]:
# This test print should print a number
print(tmin_nodata_count)

365

### Part 4 (*0.5 points*)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [18]:
day_count = None

day_count = len(data)

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [22]:
# This test print should print a number
print(day_count, "days")

23716 days

### Part 5 (*0.5 points*)

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [29]:
first_obs = None

first_obs = data["DATE"][0]

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [30]:
# This test print should print a number
print(first_obs)

19520101

### Part 6 (*0.5 points*)

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [37]:
last_obs = None

last_obs = data.tail(1)[['DATE']].values[0][0]

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [38]:
# This test print should print a number
print(last_obs)

20171004

### Part 7 (*0.5 points*)

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [47]:
avg_temp = None
sum_t = 0

for idx, row in data.iterrows():
    if row['TAVG'] != -9999:
        sum_t += row['TAVG']

avg_temp = sum_t / 23718    
    
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [48]:
# This test print should print a number
print(avg_temp)

35.55704528206425

### Part 8 (*0.5 points*)

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [59]:
avg_temp_1969 = 0
tot_days = 0

for idx, row in data.iterrows():
    if row['DATE'] > 19690500 & row['DATE'] < 19690800:
        tot_days = tot_days + 1
        avg_temp_1969 = avg_temp_1969 + row['TMAX']
        
avg_temp_1969 = avg_temp_1969 / tot_days

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [60]:
# This test print should print a number
print(avg_temp_1969)

-62.15230866540164

## Problem 2 - Calculating monthly average temperatures (*7.5 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily values we have in the data file. You can use the approaches taught in Lessons 4, 5, and 6 to solve this.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures for the each month in the dataset (i.e., for each month of each year) using the approach introduced in lesson this week
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
- Creating a new column called `temp_celsius` in the `monthly_data` DataFrame that contains the monthly average temperatures in Celsius
   - First store information about the date in a column called `DATE_m` (which should be a character string column containing the month and year info) along with the `TAVG` values in the `monthly_data` DataFrame
   - After this, you can convert the `TAVG` values in Fahrenheit to Celsius
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [7]:
##Due to "avg_temp = group['TAVG'].mean()":  https://stackoverflow.com/questions/42224700/attributeerror-float-object-has-no-attribute-split
###https://www.yawintutor.com/typeerror-float-object-does-not-support-item-assignment/

##monthly_data orginally assigned as "None".  Replaced with pd.DataFrame() because of lesson material
monthly_data = pd.DataFrame()
avg_temp = []

##Format "data" (csv) into datatime form that will allow grouping
#data["DATE_CONV_yrmon"] = pd.to_datetime(data["DATE"], format='%Y%m', exact = False)
#data["DATE_CONV_yrmon"].head()

##Create YEAR and MONTH columns
#data['YEAR'] = data['DATE_CONV_yrmon'].dt.year
#data['MONTH'] = data['DATE_CONV_yrmon'].dt.month
#data.head()


##  Alternative date conversion through slicing
data["DT_YM_SL"] = data["DATE"].astype(str)
data["DT_YM_SL"] = data["DT_YM_SL"].str.slice(start=0, stop=6)
#data["DT_YM_SL"].head(5)

In [9]:
## Group the data.  Used either DATE_CONV_yrmon, "YEAR""MONTH"
grouped = data.groupby(["DT_YM_SL"])

## What is the type?
#print("Type:\n", type(grouped))

## How many?
#print("Length:\n", len(grouped))

#grouped = data.groupby(["DATE_CONV"])
#print("Type:\n", type(grouped))

## Check the "names" of each group (uncomment the next row if you want to print out all the keys)
#grouped.groups.keys()

In [10]:
# Practice iteration over groups
for key, group in grouped:
    # Print key and group
    print("Key:\n", key)
    print("\nFirst rows of data in this group:\n", group.head())

    # Stop iteration with break command
    break

Key:
 195201

First rows of data in this group:
              STATION  ELEVATION  LATITUDE  LONGITUDE      DATE     PRCP  TAVG  \
0  GHCND:FIE00142080         51   60.3269    24.9603  19520101     0.31    37
1  GHCND:FIE00142080         51   60.3269    24.9603  19520102 -9999.00    35
2  GHCND:FIE00142080         51   60.3269    24.9603  19520103     0.14    33
3  GHCND:FIE00142080         51   60.3269    24.9603  19520104     0.05    29
4  GHCND:FIE00142080         51   60.3269    24.9603  19520105     0.06    27

   TMAX  TMIN DT_YM_SL
0    39    34   195201
1    37    34   195201
2    36 -9999   195201
3    30    25   195201
4    30    25   195201

In [11]:
##Lesson 6, cell [39] - cell [40]
for yrmon, group in grouped:
    #yrmon = (year, month) /// group = rows and columns associated with yrmon
    #df_newTAVG = data[data['TAVG'].notnull()]  /// calculate mean of TAVG column
    avg_temp = group['TAVG'].mean()
    #add key (datetime info) into aggregated values
    avg_temp["YEAR"] = yrmon
    #Append aggreated values into the DataFrame
    monthly_data = monthly_data.append(avg_temp, ignore_index=True)

TypeError: 'float' object does not support item assignment

In [ ]:
#Format "data" (csv) into datatime form that will allow grouping
#data["DATE_CONV"] = pd.to_datetime(data["DATE"], format='%Y%m', exact=False)
#data["DATE_CONV"].head(50)

#data["DATE_CONV"] = data["DATE"].astype(str)
#data["DATE_CONV"] = data["DATE_CONV"].str.slice(start=0, stop=6)
#data["DATE_CONV"].head(5)

##Below three lines will create accessor error, if string format is used
#data['YEAR'] = data['DATE'].dt.year
#data['MONTH'] = data['DATE'].dt.month
#data.head()

#grouped = data.groupby(["YEAR","MONTH"])
#print("Type:\n", type(grouped))

In [34]:
monthly_data = pd.DataFrame()

##Format "data" (csv) into datatime form that will allow grouping
data["DATE_CONV"] = pd.to_datetime(data["DATE"], format='%Y%m', exact=False)
#data["DATE_CONV"].head()

data['YEAR'] = data['DATE_CONV'].dt.year
data['MONTH'] = data['DATE_CONV'].dt.month
data.head()

#grouped = data.groupby(["YEAR", "MONTH"])
#grouped.groups.keys()

#for key, group in grouped:
#    print("Key:\n", key)
#    print("\nFirst rows of data in this group:\n", group.head())
   
#    break

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_CONV,YEAR,MONTH,DATE_CONV_yrmon
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37,39,34,1952-01-01,1952,1,1952-01-01
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,-9999.00,35,37,34,1952-01-01,1952,1,1952-01-01
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33,36,-9999,1952-01-01,1952,1,1952-01-01
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29,30,25,1952-01-01,1952,1,1952-01-01
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27,30,25,1952-01-01,1952,1,1952-01-01

In [ ]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

In [ ]:
# This test print should print the column names of monthly_data
print(monthly_data.columns)

In [ ]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

In [ ]:
# This test print should print the median of temp_celsius
print(monthly_data['temp_celsius'].median())

## Problem 3 - Calculating temperature anomalies (*7.5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating a mean temperature ***for each month*** over the period from 1952 up to and including 1980 using the data in the data file
    - You should end up with 12 values, 1 mean temperature for each month in that period, and store them in a new Pandas DataFrame called `reference_temps`
    - The columns in the new DataFrame should be titled `Month` and `ref_temp`
    
    For example, your `reference_temps` data should be something like that below, 1 value for each month of the year (12 total) and remember these temperatures should be in degrees Celsius:
   
| Month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

- Calculating a temperature anomaly for every month in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months
    - The temperature anomaly we want to calculate is simply the temperature for a given month in `monthly_data` (`temp_celsius` column) minus the corresponding monthly reference temperature in the `ref_temp` column of the `reference_temps` DataFrame
        - Hint: You need to make a table join (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html))
    - You should thus end up with three new columns in the `monthly_data` DataFrame: 
        1. `Diff`: The temperature anomaly, the difference in temperature for a given month (e.g., February 1960) compared to the average during the reference period (e.g., for February 1952-1980), 
        2. `Month`: The month
        3. `ref_temp`: The monthly reference temperature
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Let's confirm that we have the data
print(monthly_data.head())

In [ ]:
# This test print should print the length of the result
print(len(monthly_data))

In [ ]:
# This test print should print the mean difference value
print(monthly_data['Diff'].mean())

In [ ]:
# This test print should print the minimum difference value
print(monthly_data['Diff'].min())

In [ ]:
# This test print should print the maximum difference value
print(monthly_data['Diff'].max())

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)